@import './vaniables';
@import './custom-table';
@import './mixin';
.custom-form-control, .custom-btn  {
    border: 1px solid #EBEBEB ;
    box-shadow: none !important;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.3s ease;
    padding:6px 16px 7px 16px;
    color: #868686;
    height: 38px;
}

.custom-navbar .container .custom-form-control:focus {
    border-color: #c2101e;
    box-shadow: 0 0 2px 0 #c2101e;
}

.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: $btn-primary-color-dark;
}

.custom-btn-primary {
    color:$brand-primary;
    border-color: $brand-primary;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
        color: $btn-primary-color-dark;
        border-color: $btn-primary-color-dark;
        background-color: transparent;
    }
}

.custom-btn-primary-2{
    color: #000;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
    background-color: $btn-primary-color-dark;
    border-color: $btn-primary-color-dark;
    color: #000;
}

}



.custom-btn-danger {
    @include button-style($brand-danger,$brand-danger-color-dark)
  }